body {
  padding: 0;
  margin: 0;
}

.dflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

header,
footer {
  background-color: rgb(245, 209, 109);
}

#logo {
  max-width: 100px;
}

ul,
li a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 15px;
}

footer {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  height: 50px;
}
